{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#ffaa00">
    <link rel="shortcut icon" href="{% static "global/profile_16.jpg" %}">
    <meta name="og:icon" content="{% static "global/profile_16.jpg" %}">

    <title>{% block title %}Mon site{% endblock%}</title>

    {% block cdn_css %}
    {% if offline %}
    <link rel="stylesheet" href="{% static "vendor/bulma.min.css" %}">
    {% else %}
    <link rel="stylesheet" href="{% static "https://cdn.jsdelivr.net/npm/bulma@0/css/bulma.min.css" %}">
    {% endif %}
    <link href="{% static "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" %}" rel="stylesheet">
    {% endblock cdn_css %}

    <link rel="stylesheet" href="{% static "global/global.css" %}">
    <link rel="stylesheet" href="{% static "global/audioplayer.css" %}">

    {% block css %}{% endblock %}

    {% block cdn_js %}
    {% if offline %}
    <script src="{% static "vendor/jquery.min.js" %}"></script>
    <script src="{% static "vendor/moment.min.js" %}"></script>
    {% else %}
    {% if SENTRY_SDK %}<script src="{% static SENTRY_SDK %}"></script>{% endif %}
    <script src="{% static "https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js" %}"></script>
    <script src="{% static "https://cdn.jsdelivr.net/npm/moment@2/moment.min.js" %}"></script>
    {% endif %}
    {% endblock cdn_js %}

    <script src="{% static "global/global.js" %}"></script>
    <script src="{% static "global/audioplayer.js" %}"></script>
    <script src="{% static "global/fancybox.js" %}"></script>

    {% block js %}{% endblock %}

    {% block manifest %}
    <link rel="manifest" href="{% static "global/manifest.json" %}">
    {% endblock %}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
{% block body %}
<main class="content">{% block content %}{% endblock content %}</main>
{% endblock %}
</body>
</html>
