{% extends "website/base.html" %}
{% load i18n %}
{% load nav %}
{% load socialaccount %}
{% load static %}

{% block css %}
    {% if cookies_form %}
    <link rel="stylesheet" href="{% static "cookies/cookies.css" %}">
    {% endif %}
{% endblock css %}

{% block js %}
    {% if not error and cookies_form %}
    {# don't show the cookies form if there is an error #}
    <script src="{% static "cookies/cookies.js" %}"></script>
    {% endif %}
{% endblock js %}

{% block body %}
<div class="navbar">
    <header>
        <a class="title" href="/">
            <img src="{% static "global/profile_100.jpg" %}">
            Mon site
        </a>
        <label class="navbar-burger" for="navbar-is-active">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </header>
    <input type="checkbox" id="navbar-is-active" class="navbar-checkbox sr-only">
    <nav class="navbar-menu">
        <label class="close" for="navbar-is-active"></label>
{{ nav_links|nav }}
        <a href="#" class="navbar-burger" for="navbar-is-active">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul></ul>
    </nav>
    <div class="user">
    {% if user.is_authenticated %}
        <details>
            <summary>{{ user.username }}</summary>
            {% if admin_permission %}
            <a href="{% url "admin:index" %}" target="_blank">{% trans "Administration" %}</a><br>
            {% endif %}
            <a href="{% url "account_index" %}">{% trans "Account" %}</a><br>
            <form method="post" action="{% url "account_logout" %}" class="logout-form">
                {% csrf_token %}
                <input type="submit" class="link" value="{% trans "Log out" %}">
            </form>
        </details>
    {% else %}
        <a href="{% url "account_login" %}">{% trans "Log in" %}</a>
    {% endif %}
    </div>
</div>
<div class="main-content">
{% block main-content %}
<main class="content">
{% block content %}{% endblock %}
</main>
{% endblock %}
</div>
<footer class="footer">
    {% block footer %}
    <a href="{{ github_repo }}" target="_blank" class="github-icon"></a>
    <img src="https://github.com/lfavole/website/actions/workflows/django.yml/badge.svg">
    <form method="post" action="{% url "cookies:reset" %}">
        {% csrf_token %}
        <input type="submit" class="link" value="{% trans "Manage cookies" %}">
    </form>
    {% endblock footer %}
</footer>
<ul class="messagelist">
{% if not error %}
    {# don't show the cookies form if there is an error #}
    {% include "cookies/banner.html" %}
{% endif %}
{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
{% endfor %}
</ul>
{% endblock %}
