.arrow {
    &, &::before, &::after {
        background-color: currentcolor;
    }

	position: relative;
	display: inline-block;
	vertical-align: middle;

	$width: 1em;
    $height: #{$width / 8.75};
    $branch-size-ratio: 1.6;
	width: $width;
	height: $height;
	border-radius: #{$height / 2};

    &::before, &::after {
        content: "";
        position: absolute;
        top: calc(50% - #{$height / 2});
        right: 0;
        width: #{$width / $branch-size-ratio};
        height: $height;
        border-radius: #{$height / 2};
        transform-origin: calc(100% - #{$height / 2}) 50%;
        transition: transform 0.4s;
    }

    @mixin hover() {
        &:hover, button:hover &, a:hover & {
            @content;
        }
    }
    $rotation: 45deg;
    $rotation-hover: 30deg;
	&::before {
		transform: rotate($rotation);
	}
	&::after {
		transform: rotate(-$rotation);
	}
    @include hover {
        &::before {
            transform: rotate($rotation-hover);
        }
        &::after {
            transform: rotate(-$rotation-hover);
        }
    }

    &.left-arrow {
        &::before, &::after {
            right: unset;
            left: 0;
            transform-origin: #{$height / 2} 50%;
        }
        &::before {
            transform: rotate(-$rotation);
        }
        &::after {
            transform: rotate($rotation);
        }
        @include hover {
            &::before {
                transform: rotate(-$rotation-hover);
            }
            &::after {
                transform: rotate($rotation-hover);
            }
        }
	}
}
