body {
	background-color: #4ae;
    color: black;
}
body.index {
	background-color: #9b0008;
    background-image: url("background.jpg"), linear-gradient(90deg, #a6000f, #fc0019 40%, #a6000f);
    background-position: center;
    background-size: cover;
}
h1, .jours {
	font-family: Oleo Script Swash Caps, cursive;
}
h1 {
	font-size: 4.5em;
	text-align: center;
	background-color: unset;
	margin: 0;
}
body.day h1 {
	margin-bottom: 1rem;
}
body.index h1 {
	color: #eee;
	text-shadow: 0 0 0.1em #111;
}
h1 sup {
	margin-left: 0.1em;
}
@media screen and (max-width: 500px) {
	h1 {
		font-size: 3em;
	}
	.calendrier-avent h1 {
		font-size: 2.5em;
	}
}

h1 a, h1 a:hover {
	margin-left: 0.3em;
    color: inherit;
}

body.day main {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
	max-height: 100vh;
}
main img {
    align-self: center;
    overflow: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 20px 5px #ffee58;
}


.picture-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 255, 0.4);
    transition: opacity 0.4s;
    display: flex;
}
.picture-popup img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.fermer {
	background-color: #f44;
	cursor: pointer;
	border-radius: 50%;
	position: fixed;
	right: 8px;
	top: 8px;
	z-index: 9500;
	width: 30px;
	height: 30px;
}
.fermer::before, .fermer::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 8%;
	height: 60%;
	background-color: black;
	transform-origin: center;
	border-radius: 9999px;
}
.fermer::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.fermer::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

body.index main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.jours {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 20px;
	max-width: 700px;
	margin: 0px auto;
}
@media screen and (max-width: 500px) {
	.jours {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		max-width: 350px;
	}
}
.jours + .jours {
	display: flex;
	justify-content: center;
}
.jours a {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 64px;
	color: white;
	text-decoration: none;
	background-color: #003522;
	border: 5px solid #007a46;
	transition: background-color 0.4s, border-color 0.4s;
}
@media screen and (max-width: 500px) {
	.jours a {
		width: 80px;
		height: 80px;
		font-size: 50px;
		border-width: 4px;
	}
}
body.mode-nuit .jours a {
	color: #222;
}
.jours + .jours a {
	background-color: #ffd54f;
	border-color: #f57f17;
	color: black;
	position: relative;
	border-radius: 50%;
	margin-top: 40px;
}
.jours + .jours a::before, .jours + .jours a::after {
	content: "";
	position: absolute;
	bottom: 100%;
	width: 60px;
	height: 40px;
	border: 4px solid white;
}
.jours + .jours a::before {
	right: calc(50% - 2px);
	border-radius: 20% 80%;
}
.jours + .jours a::after {
	left: calc(50% - 2px);
	border-radius: 80% 20%;
}
.jours a.ajd {
    background-color: #ff8a7e;
    border-color: #b00f0f;
	box-shadow: 0 0 0.25em white;
}

.note-photos {
	display: none;
}
@media screen and (max-width: 500px) {
	.note-photos {
		padding: 8px;
		text-align: center;
	}
}
@media screen and (min-width: 501px) {
	.note-photos {
		position: absolute;
		left: 4px;
		bottom: 4px;
	}
}

p {
	font-size: 20px;
}
.center {
	font-size: 42px;
	text-align: center;
	line-height: 1.5em;
}

/* Admin */
form.center, input {
    line-height: 1.3em;
}
footer {
    padding: 1em 0.5em;
}
