*, ::before, ::after {
    box-sizing: border-box;
}

body, input, button, select, textarea {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    margin: 0;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Main content */
.content {
    padding: 1rem;
    margin: auto;
    max-width: 1000px;
    font-size: 1.25em;
}
a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}

.helptext {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}
input, button, .button, select, textarea {
	border:1px solid black;
	transition:border 0.4s;
    background-color: #ddffdd;
    line-height: inherit;
    padding: 0 0.375em;
	border-radius:0.3em;
    font-size: 1em;
	vertical-align:middle;
}
.button {
	color:black;
	text-decoration:none;
    height: unset;
}
textarea {
    resize: vertical;
    max-height: 10em;
    width: 16em;
    text-align: left;
}
input[type=submit], input[type=button], button, .button {
	cursor:pointer;
    background-color: #ffff88;
}
input[type=checkbox], input[type=radio] {
	width:1em;
	height:1em;
}
.logout-form {
	display:inline;
}
input.link {
	color:#485fc7;
	cursor:pointer;
	text-decoration:none;
	border:none;
	padding:0;
	background:none;
}

/* Footer */
footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem;
}
