{% extends "website/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% blocktranslate %}Index of {{ directory }}{% endblocktranslate %}</h1>
<ul>
    {% if directory != "/" %}
        <li><a href="../">../</a></li>
    {% endif %}
    {% for name, obj in files.0.items %}
        <li><a href="{{ name|urlencode }}">{{ name }}/</a></li>
    {% endfor %}
    {% for name, obj in files.1.items %}
        {% if obj.mimeType != FOLDER_MIMETYPE %}
            <li><a href="{{ name|urlencode }}">{{ name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
