{% extends "website/base.html" %}
{% load static %}

{% block cdn_css %}
{{ block.super }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&amp;display=swap">
{% endblock cdn_css %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "global/countdown.css" %}">
<link rel="stylesheet" href="{% static "calendrier-avent-2025/arrows.css" %}">
<link rel="stylesheet" href="{% static "calendrier-avent-2025/style.css" %}">
{% endblock css %}
{% block js %}
{{ block.super }}
<script src="{% static "global/countdown.js" %}"></script>
<script src="{% static "calendrier-avent-2025/script.js" %}"></script>
{% endblock js %}

{% block body %}
<main>
{% block content %}{% endblock %}
</main>
{% if has_perm %}
<footer>
    <a href="{% url "calendrier_avent_2025:set_date" %}">Changer de date</a>
    {% if changed_date %}
    - Date actuelle = {{ changed_date }}
    {% endif %}
</footer>
{% endif %}
{% endblock %}
