{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#ffaa00">
    {% comment %}
    <link rel="shortcut icon" href="{% get_static_prefix %}{{ app }}/favicon.ico">
    <meta name="og:icon" content="{% get_static_prefix %}{{ app }}/favicon.ico">
    {% endcomment %}
    <link rel="shortcut icon" href="{% get_static_prefix %}global/profile_16.jpg">
    <meta name="og:icon" content="{% get_static_prefix %}global/profile_16.jpg">

    <title>{% block title %}Mon site{% endblock%}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{% static "vendor/bulma.min.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "global/global.css" %}">
    {% block css %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="{% static "global/global.js" %}"></script>
    {% block js %}{% endblock %}

    {% block manifest %}
    <link rel="manifest" href="{% static "global/manifest.json" %}">
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
